{% load i18n mezzanine_tags pages_tags %}

{% for page in page_branch %}
<div class="col s12 m6 l6 item-container">
    <div class="card">
        <a class="red-text text-accent-4" href="{{ page.get_absolute_url }}">
            <div class="card-image waves-effect waves-block waves-light">
                {% if page.featured_image %}
                <img src="{{ MEDIA_URL }}{% thumbnail page.featured_image 500 0 %}">
                {% endif %}
            </div>
        </a>
        <div class="center text card-action">
            <h6><a class="blue-text text-darken-4" href="{{ page.get_absolute_url }}">{{ page.title }}</a></h6>
        </div>
    </div>
</div>
{% endfor %}
