/AIC_site/db.sqlite
/AIC_site/dump.json
/venv
*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
*/static*
*/media*
*migrations/*
AIC_site/static
AIC_site/media
AIC_site/forms
AIC_site/gunicorn.*
