Mezzanine==4.0.1
django-modeltranslation==0.10.2
django-debug-toolbar==1.4
django-compressor==1.6
jdatetime==1.7.1
django-countries==3.4.1
django-celery-email==1.1.4
#psycopg2==2.6.1
redis==2.10.5
django-gravatar2==1.4.0
django-import-export
raven
tqdm
django-ckeditor
django-storages==1.4
paramiko==1.16.0
django-queued-storage==0.8.0
python-memcached==1.57
docker-py==1.7.0
-e git+https://github.com/SharifAIChallenge/docker-sandboxer.git#egg=docker-sandboxer

