{% extends "base_with_menu.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans 'Teams' %}{% endblock %}
{% block title %}{% trans 'Teams' %}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <style>
        .aligned {
        {% if LANGUAGE_BIDI %}
            text-align: right;
        {% else %}
            text-align: left;
        {% endif %}
        }
        .non-final {
            background-color: rgba(255, 210, 185, 0.1);
        }
    </style>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                {% nevercache %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endnevercache %}
                {% if wait_time %}
                    {# Show you must wait wait_time seconds #}
                {% endif %}
                <table class="teams-list">
                    <tr>
                        <th>#</th>
                        <th width="25%">{% trans 'name' %}</th>
                        <th>{% trans 'team head' %}</th>
                        <th>{% trans 'member' %}</th>
                        <th>{% trans 'member' %}</th>
                        {% if show_friendly_button %}
                        <th>{% trans 'friendly game' %}</th>
                        {% endif %}
                    </tr>
                    {% for team in teams %}
                        <tr {% if not team.is_finalized %}class="non-final"{% endif %}>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ team.name }}</td>
                            <td class="aligned">
                                <div>

                                    <span style="vertical-align: middle; margin-right: 5px">{{ team.head.get_full_name }}</span>
                                    <img src="{{ team.head.country.flag }}"/>
                                </div>
                            </td>
                            <td>{% if team.get_members.0 %}
                                <div class="aligned">

                                    <span style="vertical-align: middle; margin-right: 5px">{{ team.get_members.0.get_full_name }}</span>
                                    <img src="{{ team.get_members.0.country.flag }}"/>
                                </div>
                            {% else %}-{% endif %}</td>
                            <td>{% if team.get_members.1 %}
                                <div class="aligned">

                                    <span style="vertical-align: middle; margin-right: 5px">{{ team.get_members.1.get_full_name }}</span>
                                    <img src="{{ team.get_members.1.country.flag }}"/>
                                </div>
                            {% else %}
                                {% if user.team %}
                                    -
                                {% else %}
                                    {% if not team.final %}
                                    <div class="aligned">
                                        <a href="{% url 'request_join' team_id=team.id %}">
                                            {% trans 'join request' %}
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}</td>
                        {% if show_friendly_button and team.final and team != request.user.team %}
                            <td>
                                <button type="submit" class="btn btn-primary" onclick="challenge({{ team.id }});">
                                    {% trans 'Challenge' %}
                                </button>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <div id="config_select_modal" class="modal">
        <div class="modal-content">
            <h4 style="direction: ltr !important; text-align: left">{% trans 'Configuration' %}</h4>
            <p>
                <form method="post" id="game-request-form" action="{% url 'game_request' %}">
                    {% csrf_token %}
                    <input type="hidden" id="team_id" name="team_id" value="to_be_team_id" />
                    <select name="config_id" class="center-align">
                        {% for config in public_configurations %}
                            <option class="center-align" value="{{ config.id }}">{{ config.description }}</option>
                        {% endfor %}
                    </select>
                </form>
            </p>

            <pre id="compile_log_holder"></pre>
        </div>
        <div class="modal-footer">
            <a href="#" class="game-request-modal-submit modal-action modal-close waves-effect waves-green btn-flat ">{% trans 'Challenge' %}</a>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
    {% if show_friendly_button %}
        <script type="text/javascript">
            $('select').material_select();
            $(function () {
                $('select').material_select();
                $('.mezzanine-form .select-dropdown').css("text-align", "center");
                $('.mezzanine-form .select-wrapper li').css("text-align", "center");
                $('span.caret').html('');
            });

            function challenge(team_id) {
                $("#team_id").val(team_id);
                $('#config_select_modal').openModal({
                    dismissible: false,
                    // ready: function() { alert('Ready'); },
                    complete: function() {
                        $("#game-request-form").submit();
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}
