
{% load i18n future mezzanine_tags pages_tags %}

{% if page_branch %}
<ul class="collapsible card" data-collapsible="accordion">
{% for page in page_branch %}
    <li>
        <a class="center-align collapsible-header
        {% if page.is_current_or_ascendant %} active white-text cyan {% else %} cyan-text text-darken-4 {% endif %}"
           {% if not page.has_children_in_menu %} href="{{ page.get_absolute_url }}" {% endif %}>
            {{ page.title }}
        </a>
        {% if page.has_children_in_menu %}
        <div class="collapsible-body">

        </div>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}