body{
    margin: 0;
    font-family: source sans pro;
    background-color: darkkhaki;
}

button{
    font-family: source sans pro;
}

#lamp1 .light{
    background-image: url('/static/log-player/images/lo.png');
}

#lamp2 .light{
    background-image: url('/static/log-player/images/lp.png');
}

#lamp3 .light{
    background-image: url('/static/log-player/images/lr.png');
}

.light{
    display: none;
    background-image: url('/static/log-player/images/lg.png');
    background-size: cover;
    opacity: 0.8;
    position: relative;
    width: 5vw;
    height: 5vw;
    top:0.2vw;
    left:-0.5vw;
}

#lamp1{
    top: 8vh;
    left: 2vw;
}

#lamp2{
    top: 9vh;
    left: 5vw;
}

#lamp3{
    top: 11vh;
    left: 8vw;
}

.lamp{
    background-size: cover;
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 10vh;
    left: 11vw;
    background-image: url('/static/log-player/images/lamp.png');
}

#status{
    position: absolute;
    top:30vh;
    left:3vw;
    width:150px;
    height: 40px;

}

#scoreBoard{
    position: absolute;
    top:22vh;
    left:3vw;
    width:200px;
    height: 40px;
    border: 1px black;
    text-align: left;
}

#turn, #redScore, #blueScore, #state {
    display: inline-block;
}

button{
    border: none;
    color: white;
    text-decoration: none;
    position: absolute;
    width:100px;
    height: 25px;
}

#playButt{
    top:5vh;
    right:5vw;
    background-color: #4CAF50;
}

#stepButt{
    top:20vh;
    right:5vw;
    background-color: #008CBA;
}
#speed{
    position: absolute;
    top:11.5vh;
    right:3.8vw;
    /*width:100px;*/
    /*height: 20px;*/
}

#SpeedText{
    position: absolute;
    top:9vh;
    width: 100px;
    text-align: center;
    right:5vw;

}

#turnButt{
    top:25vh;
    right:5vw;
    background-color: #f4511e;
}

#cy {
    width: 100vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    /*width: 200px;*/
    /*height:20px;*/
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}

#logo{
    background-image: url('/static/log-player/images/logo.png');
    background-size: cover;
    width: 25vh;
    height: 10vh;
    position: absolute;
    bottom: 5vh;
    left:2vw;
    opacity: 0.9;
}

#rb{
    /* image was too large! sorry rb. :( */
    background-size: cover;
    width: 20vw;
    height: 20vw;
    display:none;
    position: fixed;
    bottom: 0;
    right:0;
}

.redScore{
    color:crimson;
}

#team1, #team2{
    display: inline-block;
}

.blueScore{
    color:#008CBA;
}