{% extends "pages/page_with_menu.html" %}
{% load mezzanine_tags %}

{% block main %}
<div class="card">
    {% block image %}
    {% if page.featured_image %}
    <div class="card-image">
        <img src="{{ MEDIA_URL }}{% thumbnail page.featured_image 1100 0%}">
    </div>
    {% else %}{% endif %}
    {% endblock %}
    <h3 class="cyan-text card-header">
        <span>
        <a class="cyan-text" href="{{ post_url }}">
            <span class="px-40 horizontal spacer">&nbsp;</span> {% block title %}{{ page.title }} {% endblock %}<span class="px-40 horizontal spacer">&nbsp;</span>
        </a>
        </span>
    </h3>


    <div class="card-content">
        {% block content %}
        {{ page.richtextpage.content|richtext_filters|safe }}
        {% endblock %}
    </div>
</div>
{% endblock %}
