{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles other_ssc_tags jdate_tags %}

{% block meta_title %}{% trans 'group' %} {{ gt.name }}{% endblock %}
{% block title %}{% trans 'group' %} {{ gt.name }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/mixitup/src/jquery.mixitup.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/game_style.css' %}"/>
{% endblock %}

{% block main %}
    <div class="col-lg-4 col-md-12 col-sm-12">
        <table id="group-{{ gt.id }}" class="group">
            <tr>
                <td>
                    name
                </td>
                <td>
                    point
                </td>
            </tr>
            {% for submit in gt.submits.all %}
                <tr id="submit-{{ submit.id }}" class="team mix" data-point="0">
                    <td>
                        {{ submit.team.name }}
                    </td>
                    <td class="score">
                        0
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <table class="group">
            <tr>
                <td>
                    {% trans 'team 1' %}
                </td>

                <td>
                </td>

                <td>
                </td>

                <td>
                    {% trans 'team 2' %}
                </td>
                <td>
                    {% trans 'place' %}
                </td>
                <td>
                    {% trans 'time' %}
                </td>
            </tr>
            {% for game in games %}
                <tr>
                    <td>
                        {{ game.get_participants.0.name }}
                    </td>
                    {% for score in game.get_scores %}
                        <td>{{ score }}</td>
                    {% endfor %}
                    <td>
                        {{ game.get_participants.1.name }}
                    </td>
                    <td title="{{ game.place.description }}">
                        {{ game.place.name }}
                    </td>
                    <td>
                        {% if user.is_staff %}<a href="{{ game.get_log_url }}&save=1">{% endif %}
                        {{ game.time|date:'G:i'|farsi_digits }}
                        {% if user.is_staff %}</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <script type="text/javascript" src="{% static 'scripts/mixitup_script.js' %}"></script>
{% endblock %}