{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block meta_title %}{% trans 'scoreboard' %}{% endblock %}
{% block title %}{% trans 'scoreboard' %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/mixitup/src/jquery.mixitup.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/game_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}"/>
{% endblock %}

{% block content %}
    <div class="">
        {% for gt in competition.groups.all %}
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3 class="text-center title">
                    <a href="{% url 'group_schedule' gt.id %}" class="group-link iframe"
                       title="Group {{ gt.id }}">
                        Group {{ gt.id }}
                    </a>
                </h3>
                {% include 'game/group_table.html' with gt=gt %}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static 'scripts/game_script.js' %}"></script>
{% endblock %}