{% extends "accounts/account_form.html" %}
{% load i18n mezzanine_tags other_ssc_tags %}


{% block pre_form_part %}
    {% if is_invited %}
        <div class="messages">
            <div class="alert alert-dismissable alert-info" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% blocktrans with team_name=invitation.team.name invitation_accept_link=invitation.accept_link %}
                    You are invited to team {{ team_name }}. <a class="btn btn-primary" href="{{ invitation_accept_link }}">accept</a>
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}

    <p>
        {% blocktrans with url="/team/registration_guide" %}
            <p>Until you don't register a complete team, you can't go to your team page.
                You can see competition documentation from the <em>blog</em>.</p>
            <p>Click <a href={{ url }}>here</a> to view documentation of team registration.<p>
        {% endblocktrans %}
    </p>
{% endblock %}



{% block account_form_actions %}
    {% if can_submit %}
        {{ block.super }}
    {% else %}
    {% endif %}
{% endblock %}

{#{% block main %}#}
{#    <a class="btn" href="{% url 'teams_list' %}">{% trans "Teams" %}</a>#}
{#{% endblock %}#}