<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="/static/images/logo-site.ico" type="image/x-icon">
	<title>{{ settings.SITE_TITLE }}</title>
	<link href="/static/log-player/css/main.8c6e9fc9.css" rel="stylesheet">
</head>
<body>
	<script>window.logUrl='{{ game.log_file.url }}'||null</script>
	<div id="root"></div>
	<script type="text/javascript" src="/static/log-player/js/main.64eace5b.js"></script>
</body>
</html>