{% extends "base.html" %}
{% load i18n mezzanine_tags other_ssc_tags jdate_tags %}

{% block meta_title %}{% trans 'My Games' %}{% endblock %}
{% block title %}{% trans 'My Games' %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% if team.final %}
        <script type="text/javascript">
            $(function () {
                var csrf_token = '{{ csrf_token }}';
                var handle_request_url = '{% url 'handle_game_request' %}';

                $('.game-request').on('click', function (e) {
                    var $self = $(this);

                    var is_accept = $self.hasClass('accept');

                    $self.addClass('disabled');
                    $self.siblings('.game-request').addClass('disabled');
                    $.ajax({
                        url: handle_request_url,
                        method: 'post',
                        data: {
                            csrfmiddlewaretoken: csrf_token,
                            id: $self.data('id'),
                            status: is_accept ? 'accept' : 'reject'
                        }
                    }).success(function (response) {
                        if (response['success']) {
                            Materialize.toast(response['message'], 1000, 'rounded', function () {
                                location.reload(true);
                            });
                        } else {
                            Materialize.toast(response['messaee'], 3000, 'rounded');
                        }
                    });

                    e.preventDefault();
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <div class="card-panel">
                {% nevercache %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endnevercache %}

                {% if sent_requests or received_requests %}
                    <div class="row">
                        <div class="col l12 s12 m12">
                            <h4>{% trans 'Game requests' %}</h4>
                            <table class="table-striped ">
                                <tr>
                                    <th>
                                        {% trans 'team' %}
                                    </th>
                                    <th>
                                        {% trans 'config' %}
                                    </th>
                                    <th>
                                        {% trans 'timestamp' %}
                                    </th>
                                    <th>
                                        {% trans 'status' %}
                                    </th>
                                </tr>
                                {% for request in received_requests %}
                                    <tr>
                                        <td>
                                            {{ request.requester.name }}
                                        </td>
                                        <td>
                                            {{ request.game_config }}
                                        </td>
                                        <td>
                                            {% if LANGUAGE_BIDI %}
                                                {{ request.made_time|get_jdate|jdateformat:"{d} {M} {y}"|farsi_digits }}
                                                ساعت
                                                {{ request.made_time|date:'G:i'|farsi_digits }}
                                            {% else %}
                                                {{ request.made_time }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="#" class="btn game-request accept"
                                               data-id="{{ request.pk }}">{% trans 'accept' %}</a>
                                            <a href="#" class="btn game-request reject"
                                               data-id="{{ request.pk }}">{% trans 'reject' %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for request in sent_requests %}
                                    <tr>
                                        <td>{{ request.requestee.name }}</td>
                                        <td>
                                            {% if request.is_responded %}
                                                {% if LANGUAGE_BIDI %}
                                                    {{ request.accept_time|get_jdate|jdateformat:"{d} {M} {y}"|farsi_digits }}
                                                    ساعت
                                                    {{ request.accept_time|date:'G:i'|farsi_digits }}
                                                {% else %}
                                                    {{ request.accept_time }}
                                                {% endif %}
                                            {% else %}
                                                {% if LANGUAGE_BIDI %}
                                                    {{ request.made_time|get_jdate|jdateformat:"{d} {M} {y}"|farsi_digits }}
                                                    ساعت
                                                    {{ request.made_time.time|date:'G:i'|farsi_digits }}
                                                {% else %}
                                                    {{ request.made_time }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if request.is_responded %}
                                                {% if request.accepted %}
                                                    {% if request.game %}
                                                        <a href="{{ request.game.get_log_url }}">{% trans 'watch game' %}</a>
                                                    {% else %}
                                                        {% trans 'waiting for run' %}
                                                    {% endif %}
                                                {% else %}
                                                    {% trans 'rejected' %}
                                                {% endif %}
                                            {% else %}
                                                {% trans 'waiting for accept' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if participations %}
                    <div class="row">
                        <div class="col m12 s12 l12">
                            <table class="table-striped striped">
                                <tr>
                                    <th>
                                        {% trans 'type' %}
                                    </th>
                                    <th>
                                        {% trans 'team' %}
                                    </th>
                                    <th>
                                        {% trans 'config' %}
                                    </th>
                                    <th>
                                        {% trans 'status' %}
                                    </th>
                                </tr>

                                {% for submission in participations %}
                                    <tr>
                                        <td>{{ submission.game.get_game_type_display }}</td>
                                        <td>
                                            {% for team in submission.game.get_participants %}
                                                {{ team.name }}
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ submission.game.game_config }}
                                        </td>
                                        <td>
                                            {% if submission.game.status == 3 %}
                                                <a href="{{ submission.game.get_log_url }}">
                                                    {{ submission.game.get_status_display }}
                                                    ({% trans 'score' %}: {{ submission.score|floatformat:2 }})
                                                </a>
                                            {% else %}
                                                {{ submission.game.get_status_display }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
