{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans 'My Team' %}{% endblock %}
{% block title %}{% trans 'My Team' %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">

                {% nevercache %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endnevercache %}

                <table class="teams-list">
                    <tr>
                        <th>
                            {% trans 'name' %}
                        </th>
                        <th>
                            {% trans 'team head' %}
                        </th>
                        <th>
                            {% trans 'member' %}
                        </th>
                        <th>
                            {% trans 'member' %}
                        </th>
                    </tr>
                    <tr>
                        <td>{{ team.name }}</td>
                        <td>{{ team.head.get_full_name }}</td>
                        {% if team.get_members.0 %}
                            <td>{{ team.get_members.0.get_full_name }}</td>
                        {% else %}
                            <td width="20%"><a href="{% url 'invite_member' %}">
                                <button type="button" class="btn" style="width:100%;">
                                    {% trans 'invite member to team' %}
                                </button>
                            </a></td>
                        {% endif %}
                        {% if team.get_members.1 %}
                            <td>{{ team.get_members.1.get_full_name }}</td>
                        {% elif not team.get_members.0 %}
                            <td>-</td>
                        {% else %}
                            <td width="20%"><a href="{% url 'invite_member' %}">
                                <button type="button" class="btn" style="width:100%;">
                                    {% trans 'invite member to team' %}
                                </button>
                            </a></td>
                        {% endif %}
                        {% if team.head == request.user %}

                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
