{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{{ title }}</li>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col s12 m12 l8 offset-l2">
            <div class="card">
                <div class="panel">

                    {% nevercache %}
                        {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endnevercache %}
                    {% errors_for form %}

                    <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        <fieldset>
                            <legend>{{ title }}</legend>
                            {% fields_for form %}
                            <div class="form-actions">
                                {% block account_form_actions %}
                                    <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
                                {% endblock %}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
