{% extends "base.html" %}
{% load i18n mezzanine_tags other_ssc_tags jdate_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{{ title }}</li>
{% endblock %}

{% block main_hack %}
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <div class="card-panel">
                {% nevercache %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endnevercache %}

                {% block pre_form_part %}{% endblock %}

                {% errors_for form %}

                <form class="mezzanine-form" method="post"{% if form.is_multipart %}
                      enctype="multipart/form-data"{% endif %}>
                    <fieldset>
                        <h4>{{ title }}</h4>
                        {% fields_for form %}
                        {% block before_account_form_actions %}{% endblock %}
                        <div class="form-actions">
                            {% block account_form_actions %}
                                <input class="right btn" type="submit" value="{{ title }}">
                            {% endblock %}
                        </div>
                        {% block after_account_form_actions %}{% endblock %}
                    </fieldset>
                </form>
            </div>
            <div class="card-panel acc-hints">
                {% block main %}{% endblock %}
                {% if submissions %}
                    <h4>{% trans 'previous submissions' %}</h4>
                    <table class="table-striped striped">
                        <tr>
                            <th>#</th>
                            <th>{% trans 'status' %}</th>
                            <th>{% trans 'submitter' %}</th>
                            <th>{% trans 'programming language' %}</th>
                            <th>{% trans 'timestamp' %}</th>
                        </tr>
                        {% for submission in submissions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ submission.get_status_display }}
                            {% if submission.status == 3 %}
                                <br />
                                <a href="#" class="compile-log" data-submissionid="{{ submission.pk }}" >Compile log</a>
                            {% endif %}
                            </td>
                            <td>{{ submission.submitter.get_full_name }}</td>
                            <td>{{ submission.lang.name }}</td>
                            <td>
                            {% if LANGUAGE_BIDI %}
                                {{ submission.timestamp|get_jdate|jdateformat:"{d} {M} {y}"|farsi_digits }}
                                ساعت
                                {{ submission.timestamp|date:'G:i'|farsi_digits }}
                            {% else %}
                                {{ submission.timestamp }}
                            {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="compile_log_modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>{% trans 'Compile log' %}</h4>

            <p id="compile_log_loading">
                Loading...
            </p>

            <pre id="compile_log_holder"></pre>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">{% trans 'Close' %}</a>
        </div>
    </div>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script>
        $(function () {
            var $acc_hints = $('.acc-hints');
            var $clog_modal = $('#compile_log_modal');
            var $clog_loading = $('#compeil_log_loading');
            var $clog_holder = $('#compile_log_holder');

            $('.mezzanine-form :input:visible:enabled:first').focus();
            $('.mezzanine-form textarea').addClass("materialize-textarea");
            $('.mezzanine-form input[type=checkbox]').addClass("filled-in");
            $('.mezzanine-form input').addClass("validate");
            $('.mezzanine-form select').material_select();
            $('.mezzanine-form .select-dropdown').css("text-align", "center");
            $('.mezzanine-form .select-wrapper li').css("text-align", "center");
            $('.mezzanine-form input[type=date]').pickadate({selectMonths: true, selectYears: 15});

            $('span.caret').html('');

            if ($acc_hints.children().length == 0)
                $acc_hints.hide();

            $('.compile-log').on('click', function () {
                var $self = $(this);
                var id = $self.data('submissionid');
                var compile_log_url = '{% url 'compile_log' %}';

                $clog_loading.show();
                $clog_holder.html('').hide();
                $clog_modal.openModal();
                $.ajax({
                    url: compile_log_url + '?submission_id=' + id,
                    cache: true,
                    method: 'get'
                }).done(function (response) {
                    $clog_loading.hide();
                    $clog_holder.html(response).show();
                }).fail(function () {
                    $clog_loading.hide();
                    $clog_holder.html('{% trans 'Failed getting compilation log' %}');
                });
            });
        });
    </script>
    <style>
    #compile_log_holder {
        font-family: Consolas, Inconsolota, 'Courier New', monospace;
        direction: ltr !important;
        text-align: left !important;
        display: block;
    }
    </style>
{% endblock %}