{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 lt-ie10 lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 lt-ie10 lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 lt-ie10" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 9]><!-->

<!-- search the answer here -->
<html lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <title>{{ settings.SITE_TITLE }}</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="/static/images/logo-site.ico" type="image/x-icon">
    <link href="/static/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="/static/styles/sharedrtl.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/scripts/bootstrap.min.css">
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, height=device-height">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <style>
        {% if LANGUAGE_BIDI %}
        body {
            direction: rtl;
        }
        {% endif %}
    </style>

    <script type="text/javascript" src="/static/scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>

    <script type="text/javascript">
        function setlang(lang) {
            $("#language_selector_form .form-control").val(lang);
            $("#language_selector_form").submit();
        }
    </script>
</head>
<body class="rtl">


{% if messages %}
    <div class="messages" style="display: none">
        {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% get_language_info_list for LANGUAGES as languages %}
<form action="{% url 'set_language' %}" method="post" id="language_selector_form" style="display: none">
    {% csrf_token %}
    <select name="language" class="form-control">
        {% for language in languages %}
            <option value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-default" value="{% trans "Change" %}"/>
</form>
<div id="header">
    <div class="wrapper">
        <a href="#0" class="logo" tabindex="-1" hidefocus="true"></a>
        <ul class="menu landingPage">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" tabindex="-1" hidefocus="true" id="power"><span class="glyphicon glyphicon-off power"></span></a>
                <a href="{% url 'profile_update' %}" tabindex="-1" hidefocus="true"  class="signin-dump">{% trans "edit profile" %}</a>
            {% else %}
                <a href="{% url 'login' %}" tabindex="-1" hidefocus="true"
                   class="signin-dump">ورود/ثبت نام</a>
            {% endif %}
            <li><a href="#index" tabindex="-1" hidefocus="true">خانه</a></li>
            <li><a href="#info" tabindex="-1" hidefocus="true">معرفی مسابقه</a></li>
            <li><a href="#program" tabindex="-1" hidefocus="true">برنامه مسابقه</a></li>
            <li><a href="#history" tabindex="-1" hidefocus="true">تاریخچه</a></li>
            <li><a href="#award" tabindex="-1" hidefocus="true">جوایز</a></li>
{#            <li><a href="#about" tabindex="-1" hidefocus="true">معرفی</a></li>#}
{#            <li><a href="/staff/teams/" tabindex="-1" hidefocus="true">برگزارکنندگان</a></li>#}
            <li><a href="#sponsors" tabindex="-1" hidefocus="true">حامیان</a></li>
        </ul>
        <div class="mobile">
            <a id="menu-toggle" href="#" class="menu-button">
                <span class="menu-bar bar1"></span>
                <span class="menu-bar bar2"></span>
                <span class="menu-bar bar3"></span>
            </a>
            <ul class="menu landingPage">
                <li><a href="#index" tabindex="-1" hidefocus="true">خانه</a></li>
                <li><a href="#info" tabindex="-1" hidefocus="true">معرفی مسابقه</a></li>
                <li><a href="#program" tabindex="-1" hidefocus="true">برنامه مسابقه</a></li>
                <li><a href="#history" tabindex="-1" hidefocus="true">تاریخچه</a></li>
                <li><a href="#award" tabindex="-1" hidefocus="true">جوایز</a></li>
{#                <li><a href="#about" tabindex="-1" hidefocus="true">معرفی</a></li>#}
                <li><a href="#sponsors" tabindex="-1" hidefocus="true">حامیان</a></li>
                <li><a href="/contact-us/" tabindex="-1" hidefocus="true">تماس با ما</a></li>
                <li><a href="/blog/" tabindex="-1" hidefocus="true">بلاگ</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile_update' %}" tabindex="-1" hidefocus="true">{% trans 'edit profile' %}</a></li>
                    <li><a href="#" tabindex="-1" hidefocus="true" onclick="setlang('en')">en</a></li>
                    <li><a href="{% url 'logout' %}" tabindex="-1" hidefocus="true" >خروج</a></li>
                {% else %}
                    <li><a href="#" tabindex="-1" hidefocus="true" onclick="setlang('en')">en</a></li>
                    <li><a href="{% url 'login' %}" tabindex="-1" hidefocus="true">ورود/ثبت نام</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="float">
            <ul class="menuleft">
                <li><a href="/contact-us/" tabindex="-1" hidefocus="true">تماس با ما</a></li>
                <li><a href="/blog/" tabindex="-1" hidefocus="true">بلاگ</a></li>
                <li><a href="#" tabindex="-1" hidefocus="true" onclick="setlang('en')">en</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div class="section section-index" id="index">
        <div class="contest-logo"></div>
        <div class="background-img"
             style="background-image: url('/static/images/Header.jpg');background-size: cover;background-repeat: no-repeat;">
            <!-- <img src="images/index-1.jpg" alt="" /> -->
        </div>
        <div class="competition">
            <a href="#" tabindex="-1" hidefocus="true"  class="competition-dump">ورود به محیط مسابقه</a>
        </div>
    </div>
    <div class="section clearfix section-info odd" id="info">
        <div class="sp-wp">
            <h2 class="title run">معرفی مسابقه</h2>
            <h3 class="subtitle run">
                نبرد هوش‌مصنوعی شریف ۹۵
            </h3>
            <div class="content" style="text-align: justify">
                <h4>مسابقه نبرد هوش مصنوعی شریف ۹۵</h4>
                نبرد هوش مصنوعی شریف، مسابقه برنامه‌ نویسی دانشجویی است که شرکت‌کنندگان در قالب تیم‌های سه نفره برای
                بازی طراحی شده توسط تیم فنی، برنامه‌ای می‌نویسند تا بتواند حریفان را یکی پس از دیگری شکست دهد.
                در واقع، این مسابقه نهمین دوره‌ی مسابقه‌ی نبرد به زبان جاوا (JavaChallenge) است که امسال برای دومین سال، علاوه بر
                جاوا،
                ++C و پایتون را هم به طور رسمی پشتیبانی می‌کند و با نام نبرد هوش مصنوعی (AIChallenege) به حیات خود ادامه
                می‌دهد! همچنین در این دوره از رقابت‌ها امکان حضور تیم‌ها از سراسر جهان فراهم شده است و مسابقات به شکل
                بین‌المللی برگزار خواهد شد.
                شرکت در مسابقه نیاز به هیچ گونه اطلاعات تخصصی از مباحث و الگوریتم‌های هوش مصنوعی ندارد (البته استفاده از
                این الگوریتم‌ها به موفق‌تر بودن برنامه‌ها کمک خواهد کرد.) و مهارت  برنامه‌نویسی به یکی از زبان‌های فوق
                برای حضور در مسابقه کافی خواهد بود! قوانین شرکت در مسابقه را می‌توانید از طریق
                <a style="color: blue" href="http://aichallenge.sharif.edu:2017/docs/site/participation_rules/">این لینک</a>
            مشاهده کنید.
            
            <!--
                <br>
                اخبار و اطلاعات تکمیلی مسابقه از طریق
                <a href="//aichallenge{% if not LANGUAGE_BIDI %}-en{% endif %}.blog.ir" style="color: blue">وبلاگ</a>
                مسابقه در دسترس شماست.
                -->
            </div>
        </div>
    </div>
    <div class="section clearfix section-program even" id="program">
        <div class="sp-wp">
            <h2 class="title run">برنامه مسابقه</h2>
            <h3 class="subtitle run"></h3>
            <div class="content">
            <ul>
            <li>
            ۱۵ بهمن: اعلام بازی و جزئیات آن
            </li><li>
            ۲۹-۱۵ بهمن: مرحله‌ی غیر حضوری
            </li><li>
            ۳ اسفند: اعلام نتایج مرحله‌ی حضوری و راه‌یافتگان به مرحله‌ی حضوری. 
             </li><li>
                ۱۸ و ۱۹ اسفند: مرحله‌ی حضوری در دانشگاه صنعتی.
                </li>
                </ul>	
            </div>
            

        </div>
    </div>

    <div class="section clearfix section-history white" id="history">
        <div class="sp-wp">
            <h2 class="title run">تاریخچه</h2>
            <h3 class="subtitle run">دوره‌های گذشته مسابقه</h3>
            <div class="content">

                <!-- timeline -->
                <ul class="timeline run">
                    <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">۱۳۹۴</p>
                            <h3>دوره هشتم مسابقه</h3>
                            <h4>برگزاری مسابقه در سطح بین المللی</h4>
                            <p>باتوجه به تجربه‌ی موفق در برگزاری مسابقه با پشتیبانی زبان های مختلف برنامه نویسی ، دوره‌ی
                                هشتم این مسابقات با تغییر نام خود به <span class="red">«نبرد هوش مصنوعی شریف»</span>
                                برگزار شد . همچنین در این دوره مسابقه به صورت بین المللی برگزار شد.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">۱۳۹۳</p>
                            <h3>دوره ی هفتم مسابقه</h3>
                            <h4>پشتیبانی از زبان های برنامه نویسی ++C و پایتون </h4>
                            <p><span class="red">دوره‌ی هفتم </span>با درنظر گرفتن مشکلات و تجربه های دوره های قبل، به
                                گونه ای متفاوت برگزار شد.نتیجه‌ی تلاش برگزار کنندگان در این دوره ، حضور ۱۵۸ تیم از ۲۸
                                دانشگاه کشور در مرحله ی غیرحضوری و یک رقابت جدی برای انتخاب ۳۲ تیم در مرحله‌ی حضوری بود.
                                همچنین به همت تیم فنی ، زبان های
                                ++C و python هم در مسابقه پشتیبانی می‌شدند.
                            <br>
                            مستنداین مسابقه (جاواچلنج۹۳) از طریق
                                <a style="color: blue" href="http://bayanbox.ir/view/8601289253364961637/JavaChallenge2015-fa.pdf">این لینک</a>
                            قابل مشاهده است.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">۱۳۹۲-۱۳۹۰</p>
                            <h3>دوره ی چهارم تا ششم مسابقه</h3>
                            <h4>با حضور تیم هایی از دانشگاه های دیگر شهر تهران</h4>
                            <p><span class="red">دوره‌ی چهارم </span> مسابقه با نام «نبرد به زبان جاوا» معرفی شد وبا
                                تصمیم انجمن علمی ، علاوه بر تیم های داخلی ،تیم هایی از دانشگاه های دیگر هم در این مسابقه
                                حضور داشتند. در آن دوره فقط چند تیم از دانشگاه های تهران و امیرکبیر به عنوان تیم خارجی
                                در مسابقه شرکت کردند.
                                <br> <span class="red">پنج</span> سال از اولین دوره ی مسابقات گذشته بود و انجمن علمی
                                دانشکده خود را ملزم به برگزاری مسابقه میدانست. درواقع نبرد به زبان جاوا به یکی از برنامه
                                های ثابت سالیانه‌ی دانشکده تبدیل شده بود. دوره‌ی پنجم هم با حضور تیم هایی از دانشگاه های
                                تهران و امیرکبیر و شریف برگزار شد.
                                <br> در <span class="red">دوره‌ی ششم </span> برگزاری مسابقه، تبلیغات به صورت گسترده تری
                                انجام شد و تیم های محدودی از دانشگاه‌های خارج از شهر تهران هم در آن مسابقه شرکت کردند.
                            </p>
                        </div>
                    </li>
                    <li class="timeline-event">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">۱۳۸۹-۱۳۸۷</p> <!--  ۱  ۳  ۹  ۰  -->
                            <h3>سه دوره ی نخست مسابقه</h3>
                            <h4>برگزاری مسابقه به صورت درون دانشگاهی</h4>
                            <p><span class="red">۷ سال پیش</span>
                                تعدادی از اعضای انجمن علمی دانشکده ی مهندسی کامپیوتر ، تصمیم گرفتند تا مسابقه‌ی برنامه
                                نویسی در کنار مسابقات
                                ACM
                                در دانشکده برگزار کنند.
                                با شرکت در این مسابقه مهارت های برنامه نویسی دانشجویان سنجیده و تقویت می‌شد.
                                در دو سال بعد هم مسابقه با همین شرایط برگزار شد. به طوری که برگزاری این مسابقه به
                                رویدادی سالیانه در دانشکده تبدیل شده بود.
                            </p>
                        </div>
                    </li>
                </ul>
                <!-- /timeline -->
            </div>
        </div>
    </div>
    <div class="section clearfix section-team even" id="team">
		<div class="sp-wp">
			<h2 class="title run">تصاویر برگزیده</h2>
			<h3 class="subtitle run">نبرد هوش مصنوعی شریف ۱۳۹۴</h3>
			<div class="content">
			    <div class="team-item">
			    	<div class="uname-img">
			    		<img src="static/images/aks1.jpg" alt="">
			    	</div>
			    	<!-- <a href="#0" tabindex="-1" hidefocus="true">
			    		<h3 class="uname-a">کوشا ساعی</h3>
			    		<h4 class="uname-duty">مدیر کل مسابقه</h4>
			    	</a>-->
			    </div>
                <div class="team-item">
			    	<div class="uname-img">
			    		<img src="static/images/aks2.jpg" alt="">
			    	</div>
			    	<!-- <a href="#0" tabindex="-1" hidefocus="true">
			    		<h3 class="uname-a">کوشا ساعی</h3>
			    		<h4 class="uname-duty">مدیر کل مسابقه</h4>
			    	</a>-->
			    </div>
                <div class="team-item">
			    	<div class="uname-img">
			    		<img src="static/images/aks3.jpg" alt="">
			    	</div>
			    	<!-- <a href="#0" tabindex="-1" hidefocus="true">
			    		<h3 class="uname-a">کوشا ساعی</h3>
			    		<h4 class="uname-duty">مدیر کل مسابقه</h4>
			    	</a>-->
			    </div>

			</div>
		</div>
	</div>

    <div class="section clearfix section-award odd run" id="award">
        <div class="sp-wp">
            <h2 class="title run">جوایز</h2>
            <h3 class="subtitle run">جوایز این دوره از مسابقات</h3>
            <div class="content">
                <div class="column col-left">
                    <div class="content-img">
                        <img src="/static/images/Awards.png">
                    </div>
                </div>
                <div class="column col-right prizes-text">
                    <br>
                    <h5>تیم اول</h5>
                    <p>سه عدد ساعت هوشمند Samsung Gear S3 Classic</p>
                    <br>
                    <h5>تیم دوم </h5>
                    <p>سه عدد بلندگوی آمازون اکو</p>
                    <br>
                    <h5>تیم سوم </h5>
                    <p>سه عدد هارددیسک اکسترنال ۱ ترابایت</p>
                    <br>
                    <h5>۴۸ تیم راه یافته به مرحله حضوری</h5>
                    <p>یاد بود مسابقات شامل: تی شرت، ماگ و فلش مموری مسابقه</p>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="section clearfix section-about even" id="about">
        <div class="sp-wp">
            <h2 class="title run">معرفی</h2>
            <h3 class="subtitle run">درباره تیم برگزارکننده مسابقه</h3>
            <div class="content">
                نبرد هوش مصنوعی شریف به همت انجمن علمی دانشکده مهندسی کامپیوتر دانشگاه شریف برگزار می‌شود. برگزار
                کنندکان این مسابقه که همگی از دانشجویان کارشناسی و کارشناسی ارشد دانشکده هستند در دو تیم اجرایی و تیم
                فنی همکاری میکنند تا این مسابقه در بالاترین سطح اجرایی و علمی و به صورت کاملا دانشجویی برگزار شود. از طریق
                <a href="/staff/teams/"> این</a>
                صفحه می‌توانید دست‌اندرکاران برگزاری مسابقه‌ را در قالب تیم‌های مختلف برگزاری مشاهده کنید.
            </div>
        </div>
    </div>
    
    -->
    
    

    
    <div class="section clearfix section-sponsors even" id="sponsors">
        <div class="sp-wp">
            <h2 class="title run">حامیان مسابقه</h2>
            <div id="cross" class="inconsolata bold">
                <div class="col" style="margin-right: 17%">
                    <a href="https://tap30.ir/" tabindex="-1" hidefocus="true" target="_blank"><span>سامانه هوشمند درخواست تاکسی TAP30</span><img width=80% alt="TAP30" src="/static/images/TAP30.png"></a>
                </div>
                <div class="col">
                    <a href="http://www.digikala.com" tabindex="-1" hidefocus="true" target="_blank"><span>دیجیکالا: بررسی، انتخاب، خرید آنلاین</span><img width=80% alt="Digikala" src="/static/images/digikala.png"></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Start of StatCounter Code for Default Guide -->
    <a title="shopify traffic stats"
    href="http://statcounter.com/shopify/" target="_blank"><img
    src="http://c.statcounter.com/10808005/0/005c1cbf/1/"
    alt="shopify traffic stats" style="border:none;"></a>
    <!-- End of StatCounter Code for Default Guide -->


    <div class="footer">
        <div class="information-site">
            {#            <h2 class="pull-title" style="color: #C3C7D8;font-size: 2.6em;cursor: default;">ارتباط با ما</h2>#}
            {#            <p>ایران٬ تهران٬ دانشگاه شریف٬ سالن جبار</p>#}
            {#            <p>+۹۸۲۱۶۱۵۳</p>#}

            <ul class="social-media">
                <li><a href="http://twitter.com/aichallenge" title="Twitter" target="_blank"><i
                        class="icon-twitter-circled"></i></a></li>
                <li><a href="http://instagram.com/aichallenge" title="Instagram" target="_blank"><i
                        class="icon-instagram-circled"></i></a></li>
                <!-- <li><a href="http://instagram.com/@username" title="Sharif University" target="_blank"><i class="icon-sharif-circled"></i></a></li> -->
                <li><a href="https://www.telegram.me/aichallenge" title="Telegram" target="_blank"><i
                        class="icon-telegram-circled"></i></a>
                </li>
            </ul>
            <div class="logos">
                <!--<a href="//bayan.ir" tabindex="-1" hidefocus="true"><img src="/static/images/bayan.png" class="logo-bayan"></i></a>-->
                <a href="" tabindex="-1" hidefocus="true" class="sharif"><img src="/static/images/sharif.png"
                                                                              class="logo-sharif"></a>
                <a style="color:white;" href="http://ssc.ce.sharif.edu">
                    <img src="/static/base/image/SSC-unofficial-logo-white.png" width="18%">
                    <div class="divider" style="display: none;"><p>انجمن علمی دانشجویی دانشکده کامپیوتر
                        دانشگاه شریف</p>
                    </div>
                    <!--answer-->
                    <p>انجمن علمی دانشجویی دانشکده کامپیوتر دانشگاه شریف</p>
                </a>
            </div>
        </div>
        <div class="bottom-layout">
            <div class="copyright-area copyright-area__dark onshow">
                <svg class="blurp--bottom" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
	            	<path fill="#FFFFFF" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path>
	            </svg>
                <div class="btn--top">
                    <a href="#" class="btn--top_text">
                        <span class="btn__arrow btn__arrow--top"></span>
                        <span class="btn__arrow btn__arrow--bottom"></span>
                    </a>
                </div>
                <div class="container">
                    <div class="footer-container">
                        <div class="copyright-text">
                            © Student's Scientific Chapter of Computer Engineering Department, Sharif University of
                            Technology
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
