{% load gravatar %}
{% load i18n %}

{% spaceless %}
<tr data-id="{{ member.pk }}">
    <td class="name-avatar" width="50%">
        <div>
            <img class="circle" style="vertical-align: middle; margin: 5px;" src="{% gravatar_url member.email 40 %}"/>
            <span style="vertical-align: middle; margin-right: 5px">
                <span class="member-email"><a href="mailto:{{ member.email }}">({{ member.email }})</a></span>
            </span>
        </div>
    </td>
<td><span class="member-email">{{ member.get_full_name }} </span></td>
    <td>
        {% if member == team.head %}
            {% trans 'team head' %}
        {% else %}
            {% trans 'team member' %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
