@font-face{
	font-family: 'Aseman';
	src: url(fonts/aseman/aseman.eot);
	src: url(fonts/aseman/aseman.eot#iefix) format("embedded-opentype"),
		 url(fonts/aseman/aseman.ttf) format("truetype"),
		 url(fonts/aseman/aseman.woff) format("woff"),
		 url(fonts/aseman/aseman.svg#aseman) format("svg");
	font-weight: 400;
	font-style: normal;
}
[class^="asn-"],[class*=" asn-"]{font-family: 'Aseman' !important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.asn-house:before{content:"\e901";}
.asn-home2:before{content:"\e966";}
.asn-home3:before{content:"\e967";}
.asn-pencil:before{content:"\e902";}
.asn-quill:before{content:"\e968";}
.asn-pen:before{content:"\e903";}
.asn-paintformat:before{content:"\e904";}
.asn-images:before{content:"\e906";}
.asn-camera:before{content:"\e907";}
.asn-music:before{content:"\e908";}
.asn-film:before{content:"\e909";}
.asn-dice:before{content:"\e969";}
.asn-pacman:before{content:"\e96a";}
.asn-books:before{content:"\e90a";}
.asn-filesempty:before{content:"\e96b";}
.asn-filetextalt:before{content:"\e955";}
.asn-stack:before{content:"\e96c";}
.asn-folder:before{content:"\e96d";}
.asn-folderopen:before{content:"\e96e";}
.asn-tag:before{content:"\e90b";}
.asn-tags:before{content:"\e90c";}
.asn-qrcode:before{content:"\e96f";}
.asn-cart:before{content:"\e912";}
.asn-phonehangup:before{content:"\e913";}
.asn-envelop:before{content:"\e914";}
.asn-pushpin:before{content:"\e915";}
.asn-location:before{content:"\e916";}
.asn-clock:before{content:"\e917";}
.asn-calendar:before{content:"\e918";}
.asn-printer:before{content:"\e919";}
.asn-display:before{content:"\e91a";}
.asn-mobile:before{content:"\e91b";}
.asn-tv:before{content:"\e91c";}
.asn-drawer:before{content:"\e970";}
.asn-download:before{content:"\e91e";}
.asn-floppydisk:before{content:"\e91f";}
.asn-bubble2:before{content:"\e920";}
.asn-bubbles3:before{content:"\e921";}
.asn-user:before{content:"\e922";}
.asn-usertie:before{content:"\e923";}
.asn-quotesleft:before{content:"\e924";}
.asn-quotesright:before{content:"\e925";}
.asn-hourglass:before{content:"\e900";}
.asn-spinner2:before{content:"\e964";}
.asn-spinner5:before{content:"\e905";}
.asn-search:before{content:"\e926";}
.asn-key:before{content:"\e956";}
.asn-lock:before{content:"\e971";}
.asn-bug:before{content:"\e972";}
.asn-statsdots:before{content:"\e927";}
.asn-gift:before{content:"\e973";}
.asn-meter:before{content:"\e928";}
.asn-bin:before{content:"\e929";}
.asn-power:before{content:"\e974";}
.asn-powercord:before{content:"\e975";}
.asn-tree:before{content:"\e92a";}
.asn-earth:before{content:"\e92b";}
.asn-link:before{content:"\e92c";}
.asn-flag:before{content:"\e957";}
.asn-attachment:before{content:"\e92d";}
.asn-eye:before{content:"\e92e";}
.asn-starempty:before{content:"\e976";}
.asn-starfull:before{content:"\e977";}
.asn-happy:before{content:"\e978";}
.asn-smile:before{content:"\e90d";}
.asn-sad:before{content:"\e90e";}
.asn-grin:before{content:"\e92f";}
.asn-cool:before{content:"\e965";}
.asn-hipster:before{content:"\e979";}
.asn-pointup:before{content:"\e90f";}
.asn-pointright:before{content:"\e910";}
.asn-pointdown:before{content:"\e911";}
.asn-pointleft:before{content:"\e931";}
.asn-notification:before{content:"\e95f";}
.asn-question:before{content:"\e960";}
.asn-cross:before{content:"\e95a";}
.asn-checkmark:before{content:"\e932";}
.asn-enter:before{content:"\e933";}
.asn-exit:before{content:"\e934";}
.asn-infinite:before{content:"\e97a";}
.asn-arrowup2:before{content:"\e95d";}
.asn-arrowright2:before{content:"\e958";}
.asn-arrowdown2:before{content:"\e95e";}
.asn-arrowleft2:before{content:"\e959";}
.asn-circleup:before{content:"\e95b";}
.asn-circledown:before{content:"\e95c";}
.asn-moveup:before{content:"\e961";}
.asn-movedown:before{content:"\e962";}
.asn-shift:before{content:"\e963";}
.asn-ctrl:before{content:"\e97b";}
.asn-checkboxchecked:before{content:"\e930";}
.asn-embed:before{content:"\e935";}
.asn-embed2:before{content:"\e936";}
.asn-terminal:before{content:"\e937";}
.asn-mail:before{content:"\e938";}
.asn-googleplus:before{content:"\e939";}
.asn-googleplus2:before{content:"\e93a";}
.asn-facebook:before{content:"\e93b";}
.asn-facebook2:before{content:"\e93c";}
.asn-instagram:before{content:"\e93d";}
.asn-twitter:before{content:"\e93e";}
.asn-twitter2:before{content:"\e93f";}
.asn-feed2:before{content:"\e940";}
.asn-feed3:before{content:"\e941";}
.asn-github:before{content:"\e942";}
.asn-github3:before{content:"\e91d";}
.asn-github4:before{content:"\e943";}
.asn-wordpress:before{content:"\e944";}
.asn-tumblr:before{content:"\e97c";}
.asn-tux:before{content:"\e97d";}
.asn-android:before{content:"\e97e";}
.asn-skype:before{content:"\e945";}
.asn-linkedin:before{content:"\e946";}
.asn-linkedin2:before{content:"\e947";}
.asn-filepdf:before{content:"\e97f";}
.asn-fileword:before{content:"\e980";}
.asn-html52:before{content:"\e948";}
.asn-css3:before{content:"\e949";}
.asn-firefox:before{content:"\e981";}
.asn-heart:before{content:"\e94a";}
.asn-star:before{content:"\e94b";}
.asn-tags_alt:before{content:"\e94c";}
.asn-bulb:before{content:"\e94d";}
.asn-diamond:before{content:"\e94e";}
.asn-bubble:before{content:"\e94f";}
.asn-mail_alt:before{content:"\e950";}
.asn-like:before{content:"\e951";}
.asn-paperplane:before{content:"\e952";}
.asn-study:before{content:"\e953";}
.asn-clip:before{content:"\e954";}