/* Written by : Compass and SASS */
@font-face {
  font-family: "BYekan";
  src: url(fonts/regular.eot);
  src: url(fonts/regular.eot?#iefix) format("eot"), url(fonts/regular.woff2) format("woff2"), url(fonts/regular.woff) format("woff"), url(fonts/regular.ttf) format("ttf");
  font-weight: 400; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal; }

blockquote, q {
  quotes: "" ""; }

* {
  padding: 0;
  margin: 0;
  outline-width: 0px;
  outline-style: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100.01%; }

body {
  overflow-x: hidden;
  width: 100%;
  border: none !important;
  outline: none !important;
  font: 13px "BYekan", "Open Sans", sans-serif;
  height: auto;
  height: 100%;
  color: #33353F;
  font-style: normal;
  font-variant: normal;
  line-height: 1.785em;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  hyphens: auto;
  position: relative;
  background-color: #f1f1f1; }

.clearfix {
  zoom: 1; }
  .clearfix:after, .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

a {
  /*color: #33353F;*/
  text-decoration: none;
  outline-width: 0px;
  outline-style: hidden;
  -webkit-transition: all 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: all 250ms linear; }
  a:hover {
    color: #007AFF;
    text-decoration: none;
    -webkit-transition: all 125ms linear;
    -moz-transition: color 125ms linear;
    -o-transition: color 125ms linear;
    -ms-transition: color 125ms linear;
    transition: all 125ms linear; }

p {
  line-height: inherit;
  margin: 0 0 1em 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #007AFF;
  font-style: normal;
  font-weight: normal;
  font-family: "BYekan", "Open Sans", sans-serif !important; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #5b4141;
  text-decoration: none; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #fb9351; }

hr {
  clear: both;
  height: 1px;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.1);
  border: 0 none; }

*:before, *:after {
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear; }
*:hover:before, *:hover:after {
  -moz-transition: all 125ms linear;
  -o-transition: all 125ms linear;
  -webkit-transition: all 125ms linear;
  transition: all 125ms linear; }

#header {
  width: 100%;
  height: 60px;
  background: #244273;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  *zoom: 1;
  z-index: 998; }
  #header .wrapper {
    width: 1170px;
    height: 100%;
    position: relative;
    clear: both;
    zoom: 1;
    margin: 0px auto; }
    #header .wrapper > .logo {
      float: right;
      display: none;
      vertical-align: top;
      margin-top: 2.5px;
      background: url("../images/logo.jpg") no-repeat center center;
      width: 139px;
      height: 45px; }
    #header .wrapper > .menu {
      display: inline-block; }
      #header .wrapper > .menu li {
        display: inline-block;
        margin-left: 5px;
        font: 14px "BYekan", "Open Sans", sans-serif;
        border-top: 4px solid transparent;
        margin-top: 0px;
        padding-top: 12px;
        padding-bottom: 19px;
        padding-right: 12px;
        padding-left: 12px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        #header .wrapper > .menu li:focus {
          outline: 0px none !important; }
        #header .wrapper > .menu li > a {
          color: #FFF; }
        #header .wrapper > .menu li:hover, #header .wrapper > .menu li.onvisible {
          border-top-color: #CCA63E;
          background: rgba(0, 0, 0, 0.1); }
          #header .wrapper > .menu li:hover a, #header .wrapper > .menu li.onvisible a {
            color: #FFF; }
    #header .wrapper > .mobile {
      display: none;
      float: right; }
      #header .wrapper > .mobile .menu-button {
        display: block;
        position: relative;
        width: 40px;
        height: 35px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: #FFF;
        margin: 0 auto;
        padding-top: 12px;
        margin-top: 12px;
        float: right; }
        #header .wrapper > .mobile .menu-button .menu-bar {
          display: block;
          position: relative;
          background: #333;
          width: 26px;
          height: 2px;
          -moz-border-radius: 1px;
          -webkit-border-radius: 1px;
          border-radius: 1px;
          margin: 0 auto; }
        #header .wrapper > .mobile .menu-button .bar1 {
          top: 0; }
        #header .wrapper > .mobile .menu-button .bar2 {
          top: 4px; }
        #header .wrapper > .mobile .menu-button .bar3 {
          top: 8px; }
        #header .wrapper > .mobile .menu-button + .menu-bar {
          margin-top: 5px; }
      #header .wrapper > .mobile .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        zoom: 1;
        background: #223F6D;
        border-top: 1px solid #FFF; }
        #header .wrapper > .mobile .menu.visible {
          display: block; }
        #header .wrapper > .mobile .menu li {
          display: block;
          font: 14px "BYekan", "Open Sans", sans-serif;
          padding: 0px 10px 2px 7px;
          border-right: 3px solid transparent;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          #header .wrapper > .mobile .menu li a {
            color: #FFF;
            display: block; }
          #header .wrapper > .mobile .menu li:hover, #header .wrapper > .mobile .menu li.onvisible {
            border-right-color: #CCA63E;
            background: rgba(0, 0, 0, 0.1); }
            #header .wrapper > .mobile .menu li:hover a, #header .wrapper > .mobile .menu li.onvisible a {
              color: #FFF; }
    #header .wrapper .float {
      float: left;
      display: inline-block; }
      #header .wrapper .float > a.signup-dump {
        border: 1px solid rgba(255, 255, 255, 0.1);
        -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2) inset;
        -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2) inset;
        box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2) inset;
        display: inline-block;
        padding: 5px 35px;
        font: 14px "BYekan", "Open Sans", sans-serif;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        background: #CB9511;
        color: #FFF;
        line-height: 23px;
        vertical-align: top;
        margin-top: 14px;
        border: 1px solid transparent;
        -moz-border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        border-radius: 2.5px; }
        #header .wrapper .float > a.signup-dump:hover {
          background: #E2A712; }
      #header .wrapper .float > a.signin-dump {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        padding: 6px 35px;
        font: 14px "BYekan", "Open Sans", sans-serif;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        background: transparent;
        color: #FFF;
        line-height: 23px;
        vertical-align: top;
        margin-top: 12px;
        -moz-border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        border-radius: 2.5px; }
      #header .wrapper .float > a.signout-dump {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.2);
        -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
        padding: 6px 35px;
        font: 14px "BYekan", "Open Sans", sans-serif;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        background: transparent;
        color: #FFF;
        line-height: 23px;
        vertical-align: top;
        margin-top: 12px;
        -moz-border-radius: 2.5px;
        -webkit-border-radius: 2.5px;
        border-radius: 2.5px; }

body.ltr .mobile {
  float: left !important; }
  body.ltr .mobile .menu {
    right: 0px; }
    body.ltr .mobile .menu li {
      direction: ltr;
      text-align: left;
      padding: 0px 10px 2px 7px;
      border-left: 3px solid transparent; }
      body.ltr .mobile .menu li:hover, body.ltr .mobile .menu li.onvisible {
        border-left: 3px solid #CCA63E !important;
        border-right-color: transparent !important; }
body.ltr #header .float a {
  margin-left: 5px; }

@media screen and (max-width: 800px) {
  #header .wrapper > .menu {
    display: none; }
  #header .wrapper > .mobile {
    display: block; }

  .content::before {
    width: 50% !important;
    height: 1px !important;
    top: 56% !important;
    left: 25% !important; }
  .content .column.col-right, .content .column.col-left {
    width: 100%;
    display: block; }

  #cross .col {
    width: 48% !important; } }
body.ltr #header .float {
  float: right !important; }
body.ltr .content {
  direction: ltr;
  text-align: left; }

@media (min-width: 768px) {
  #header .wrapper {
    width: 750px; } }
@media (min-width: 992px) {
  #header .wrapper {
    width: 970px; } }
@media (min-width: 1200px) {
  #header .wrapper {
    width: 1170px; } }
#wrapper {
  width: 100%;
  height: 100%;
  position: relative; }
  #wrapper > .section {
    width: 100%;
    min-height: 250px;
    position: relative;
    overflow: hidden; }
    #wrapper > .section.section-index {
      height: 100%;
      min-height: 100%;
      padding-top: 60px; }
    #wrapper > .section.odd {
      background: #f1f1f1; }
    #wrapper > .section.even {
      color: #FFF;
      background: #0092DD; }
      #wrapper > .section.even .title {
        color: #FFF; }
    #wrapper > .section.orange {
      background: #F87A54 !important; }
    #wrapper > .section.white {
      background: #FFF !important; }
    #wrapper > .section.silver {
      background: #f7f7f7 !important; }

.column.col-left {
  text-align: right;
  padding-left: 3em;
  padding-right: 3em;
  vertical-align: middle; }

.content .column {
  width: 49%;
  display: inline-block; }

.column.col-right {
  text-align: right;
  padding-right: 3em; }

.sec-wrp {
  padding: 2em 10% 4em; }

.cdown-layout-right {
  margin-left: 0; }

.cdown-layout-right {
  margin-right: 3em; }

.content-img {
  text-align: right; }
  .content-img img {
    width: 100%; }

img {
  border: 0px none; }

.section {
  text-align: center; }
  .section .sp-wp {
    padding: 2em 10% 4em; }
  .section .title {
    font-size: 3.2em;
    color: #33353F;
    cursor: default;
    font-weight: normal;
    display: block;
    margin-top: 35px; }
    .section .title.animated {
      -webkit-animation: 0.5s ease 0.3s normal both 1 running fadeInDown;
      -moz-animation: 0.5s ease 0.3s normal both 1 running fadeInDown;
      animation: 0.5s ease 0.3s normal both 1 running fadeInDown; }
  .section .subtitle {
    margin: 25px 0px 0px;
    padding: 0px;
    font-size: 2em;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.4);
    display: block; }
    .section .subtitle.animated {
      -webkit-animation: 0.5s ease 0.6s normal both 1 running fadeInDown;
      -moz-animation: 0.5s ease 0.6s normal both 1 running fadeInDown;
      animation: 0.5s ease 0.6s normal both 1 running fadeInDown; }
  .section .content {
    position: relative;
    padding: 25px 0px;
    margin: 2.5em auto;
    text-align: right;
    font: 14px "BYekan", "Open Sans", sans-serif; }
    .section .content::before {
      position: absolute;
      display: block;
      content: " ";
      background: rgba(0, 0, 0, 0.1);
      width: 1px;
      top: 0px;
      left: 50%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0); }
    .section .content h4 {
      margin: 0px;
      padding: 0px;
      font-size: 1.5em;
      color: #33353F; }
    .section .content span.red {
      color: #EC5353; }

.section-index {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ede9ce; }
  .section-index .background-img {
    width: 100%;
    min-height: 100%; }
    .section-index .background-img img {
      width: 100%; }

.section-program {
  min-height: 800px; }

.mouse-animate {
  position: absolute;
  bottom: 10px;
  right: 50%;
  margin-right: -12px;
  z-index: 10;
  *zoom: 1; }
  .mouse-animate .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px; }
  .mouse-animate .m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px; }
  .mouse-animate .unu {
    margin-top: 1px; }
  .mouse-animate .unu,
  .mouse-animate .doi,
  .mouse-animate .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite; }
  .mouse-animate .unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-direction: alternate; }
  .mouse-animate .doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px; }
  .mouse-animate .trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px; }
  .mouse-animate .mouse {
    height: 42px;
    width: 24px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    transform: none;
    border: 2px solid #f1f1f1;
    top: 170px;
    margin-right: -4px; }
  .mouse-animate .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #FFF;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .mouse-animate .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite; }

.section-program .content::before {
  position: absolute;
  display: block;
  content: " ";
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  top: 0px;
  left: 50%;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=1); }
.section-program #remaining {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: block;
  text-align: center;
  direction: ltr; }
  .section-program #remaining li {
    display: inline-block;
    font-size: 3em;
    font-family: "BYekan", "Open Sans", sans-serif;
    line-height: 0.7em;
    cursor: default;
    text-align: left;
    vertical-align: top; }
    .section-program #remaining li.seperator {
      font-size: 3em;
      line-height: 0.5em;
      vertical-align: top; }
    .section-program #remaining li p {
      color: rgba(0, 0, 0, 0.3);
      font-size: 25px;
      display: block; }

.regchallenge {
  font-size: 20px;
  vertical-align: top; }
  .regchallenge li {
    margin-bottom: 5px; }

.containerWrap {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 20px;
  background: #f1f1f1;
  min-height: 500px; }
  .containerWrap .inner-wrap {
    width: 70%;
    margin: 0px auto;
    padding: 30px 0px; }
    .containerWrap .inner-wrap .title h1 {
      font: 18px BYekan;
      color: #666; }
    .containerWrap .inner-wrap .content {
      font: 13px BYekan; }

body.ltr .timeline:before {
  left: 0px;
  margin-left: -20px; }
body.ltr .timeline .timeline-event-icon {
  left: -20px;
  margin: 0.5em 0.5em 0.5em -0.5em; }
body.ltr .timeline.animated {
  -webkit-animation: 0.5s ease 1.2s normal both 1 running fadeInLeft;
  -moz-animation: 0.5s ease 1.2s normal both 1 running fadeInLeft;
  animation: 0.5s ease 1.2s normal both 1 running fadeInLeft; }

.timeline {
  margin: 4em auto 0px;
  position: relative; }
  .timeline.animated {
    opacity: 1;
    -webkit-animation: 0.5s ease 1.2s normal both 1 running fadeInRight;
    -moz-animation: 0.5s ease 1.2s normal both 1 running fadeInRight;
    animation: 0.5s ease 1.2s normal both 1 running fadeInRight;
    cursor: default; }
    .timeline.animated:before {
      -webkit-animation: 0.5s ease 0.7s normal both 1 running zoomIn;
      -moz-animation: 0.5s ease 0.7s normal both 1 running zoomIn;
      animation: 0.5s ease 0.7s normal both 1 running zoomIn; }
  .timeline:before {
    background-color: rgba(0, 0, 0, 0.1);
    content: '';
    margin-right: -1px;
    position: absolute;
    top: 0;
    right: 0px;
    width: 2px;
    height: 100%; }

.timeline-event {
  position: relative; }
  .timeline-event:hover .timeline-event-icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #33353F; }
  .timeline-event:hover .timeline-event-thumbnail {
    color: #FFF;
    -moz-box-shadow: inset 40em 0 0 0 #33353F;
    -webkit-box-shadow: inset 40em 0 0 0 #33353F;
    box-shadow: inset 40em 0 0 0 #33353F; }

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -2.375em;
  right: 1em;
  width: 80%;
  font-family: "BYekan", "Open Sans", sans-serif; }
  .timeline-event-copy h3 {
    color: #33353F;
    font-size: 1.75em; }
  .timeline-event-copy h4 {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 1.1em;
    margin-bottom: 1.2em; }
  .timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em; }

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: default;
  background-color: #FAD763;
  outline: 5px solid #f8f8f8;
  display: block;
  margin: 0.5em -0.5em 0.5em 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em; }

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: #666;
  font-size: 0.75em;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
  background-color: #FAD763;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em; }

.prizes-text h5 {
  font-family: "BYekan", "Open Sans", sans-serif, "tahoma", Arial, sans-serif;
  font-size: 1.2em;
  color: #EC5353; }

.section-award .content::before {
  position: absolute;
  display: block;
  content: " ";
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  top: 0px;
  left: 50%;
  height: 100%;
  opacity: 0; }
.section-award.animated {
  opacity: 1;
  filter: alpha(opacity=100); }
  .section-award.animated .content::before {
    animation: 0.5s ease 0.7s normal both 1 running zoomIn; }
  .section-award.animated .col-right {
    opacity: 0;
    animation: 0.5s ease 1.2s normal both 1 running fadeInLeft; }
  .section-award.animated .col-left {
    opacity: 0;
    animation: 0.5s ease 1.2s normal both 1 running fadeInRight; }

body.ltr .section-award.animated .col-right {
  -webkit-animation: 0.5s ease 1.2s normal both 1 running fadeInRight;
  -moz-animation: 0.5s ease 1.2s normal both 1 running fadeInRight;
  animation: 0.5s ease 1.2s normal both 1 running fadeInRight; }
body.ltr .section-award.animated .col-left {
  -webkit-animation: 0.5s ease 1.2s normal both 1 running fadeInLeft;
  -moz-animation: 0.5s ease 1.2s normal both 1 running fadeInLeft;
  animation: 0.5s ease 1.2s normal both 1 running fadeInLeft; }

.section-team {
  padding-bottom: 60px; }
  .section-team .team-item {
    display: inline-block;
    float: right;
    width: 33.33333333%; }
    .section-team .team-item:hover .uname-img img {
      border-color: #EEE; }
    .section-team .team-item .uname-img {
      width: 100%;
      padding: 25px;
      overflow: hidden;
      position: relative; }
      .section-team .team-item .uname-img img {
        width: 100%;
        height: 100%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
    .section-team .team-item > a {
      display: block;
      text-align: center; }
      .section-team .team-item > a .uname-a {
        color: #33353F;
        font-size: 1.6em;
        display: block; }
      .section-team .team-item > a .uname-duty {
        color: rgba(0, 0, 0, 0.6);
        display: block;
        font-size: 1em; }

#cross {
  clear: both;
  color: #999;
  margin: 60px 0px; }
  #cross .col {
    width: 32%;
    float: right;
    height: 210px;
    margin-bottom: 60px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 10px;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: default;
    background: -webkit-radial-gradient(#F7F7F7, #CDCDCD);
    background: -o-radial-gradient(#F7F7F7, #CDCDCD);
    background: -moz-radial-gradient(#F7F7F7, #CDCDCD);
    background: radial-gradient(#f7f7f7, #cdcdcd); }
    #cross .col:hover {
      -moz-box-shadow: 0px 0px 10px #DDD;
      -webkit-box-shadow: 0px 0px 10px #DDD;
      box-shadow: 0px 0px 10px #DDD; }
      #cross .col:hover span {
        background: #f1c40f; }
    #cross .col a {
      height: 100%;
      width: 100%;
      display: block;
      margin: 0px;
      text-align: center; }
      #cross .col a > span {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 0px 0px;
        font-size: 14px;
        padding: 8px 3px;
        color: #363636;
        font-family: "BYekan", "Open Sans", sans-serif, Arial; }
    #cross .col img {
      margin-top: 0px; }
      #cross .col img[src*="sharif"] {
        margin-top: 10px;
        height: 140px;
        width: 140px; }
      #cross .col img[src*="bmn"] {
        margin-top: 15px;
        width: 140px;
        height: 140px; }
      #cross .col img[src*="bonyad"] {
        width: 170px;
        height: 130px; }
      #cross .col img[src*="bayan"] {
        margin-top: -10px; }

.social-media {
  margin: .6em 0px 0px; }

.social-media {
  direction: ltr;
  padding: 0px;
  cursor: default;
  list-style: outside none none; }
  .social-media li {
    display: inline-block;
    cursor: pointer;
    margin: 0px -0.1em;
    color: #C3C7D8;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7); }
    .social-media li:hover {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1); }
    .social-media li a {
      display: inline-block;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s; }
      .social-media li a [class^="icon-"]::before, .social-media li a [class*=" icon-"]::before {
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        display: block;
        width: 64px;
        height: 64px;
        content: " ";
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out;
        -webkit-transition-delay: 0s;
        transition: all 0.2s ease-in-out 0s; }
      .social-media li a .icon-twitter-circled::before {
        background: #C3C7D8 url("../images/footer-icon-twitter.png") no-repeat scroll center center; }
      .social-media li a .icon-instagram-circled::before {
        background: #C3C7D8 url("../images/footer-icon-instagram.png") no-repeat scroll center center; }
      .social-media li a .icon-blog-circled::before {
        background: #C3C7D8 url("../images/footer-icon-blog.png") no-repeat scroll center center; }
      .social-media li a .icon-sharif-circled::before {
        background: #C3C7D8 url("../images/footer-icon-sharif.png") no-repeat scroll center center; }

.logos {
  margin: 20px auto;
  text-align: center;
  font-size: 16px; }
  .logos p {
    cursor: default; }
  .logos a.sharif {
    display: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top; }
    .logos a.sharif:hover img {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      filter: alpha(opacity=100); }
    .logos a.sharif img {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3;
      filte: alpha(opacity=30);
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      width: 150px; }
      .logos a.sharif img.logo-sharif {
        width: 100px; }
  .logos .ssc {
    width: 165px;
    height: 100px;
    margin-right: 0px;
    vertical-align: top;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    filter: alpha(opacity=30);
    background: #FFF url("../images/ssc.png") no-repeat center center/200px 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .logos .ssc:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
      opacity: 100;
      filter: alpha(opacity=100); }

.divider::before, .divider::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 2px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #C3C7D8;
  box-sizing: border-box; }

.divider > p {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  cursor: default; }

.footer {
  width: 100%;
  padding: 16px 0 0;
  text-align: center;
  font: 13px "BYekan", "Open Sans", sans-serif;
  background: #244273;
  color: #FFF; }
  .footer .information-site {
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px; }
  .footer .bottom-layout .copyright-area.copyright-area__dark {
    background-color: #315A9B; }
  .footer .bottom-layout .copyright-area {
    position: relative;
    padding: 20px 0px 18px;
    font-size: 14px;
    text-align: center;
    color: #919191;
    background-color: #315A9B;
    line-height: 1.7; }
    .footer .bottom-layout .copyright-area svg {
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -96px;
      margin-top: -50px;
      -webkit-transform: translate3d(0px, 40px, 0px) scale(0.5, 0.5);
      -moz-transform: translate3d(0px, 40px, 0px) scale(0.5, 0.5);
      transform: translate3d(0px, 40px, 0px) scale(0.5, 0.5); }
      .footer .bottom-layout .copyright-area svg path {
        fill: #315A9B; }
    .footer .bottom-layout .copyright-area.onshow svg {
      -moz-transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px); }
    .footer .bottom-layout .copyright-area.onshow .btn__arrow--top {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
      transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -5, 0) !important; }
    .footer .bottom-layout .copyright-area.onshow .btn__arrow--bottom {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
      transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -5, 0) !important; }
    .footer .bottom-layout .copyright-area .btn--top {
      position: absolute;
      top: -12px;
      left: 50%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .footer .bottom-layout .copyright-area .btn--top .btn--top_text {
        display: block;
        position: absolute;
        top: 12px;
        left: 50%;
        width: 60px;
        height: 60px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #FFF;
        -webkit-transform: translateX(-50%) translateY(-30%);
        -moz-transform: translateX(-50%) translateY(-30%);
        transform: translateX(-50%) translateY(-30%); }
        .footer .bottom-layout .copyright-area .btn--top .btn--top_text .btn__arrow {
          display: block;
          position: absolute;
          left: 50%;
          height: 10px;
          width: 10px;
          border-left: 2px solid #FFF;
          border-top: 2px solid #FFF;
          -webkit-transform: translateX(-50%) rotate(45deg);
          -moz-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg); }
          .footer .bottom-layout .copyright-area .btn--top .btn--top_text .btn__arrow.btn__arrow--top {
            top: 2px;
            opacity: 0;
            transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -5, 15); }
          .footer .bottom-layout .copyright-area .btn--top .btn--top_text .btn__arrow.btn__arrow--bottom {
            top: 8px;
            opacity: 0;
            transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -5, 15); }

.copyright-text {
  color: #FFF;
  font: 13px "BYekan", "Open Sans", sans-serif, "Arial"; }
  .copyright-text a {
    color: #C59D5F; }

svg:not(:root) {
  overflow: hidden; }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: .5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: .5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes mouse-scroll {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: .5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
.hidden-elm {
  opacity: 0;
  filter: alpha(opacity=0); }

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes bounceIn {
  0%,20%,40%,60%,80%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%,20%,40%,60%,80%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounceInDown {
  0%,60%,75%,90%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }
@keyframes bounceInDown {
  0%,60%,75%,90%,100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; } }
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes next {
  0% {
    bottom: 2.3em;
    opacity: 0; }
  50% {
    bottom: 3.3em;
    opacity: 1; }
  100% {
    bottom: 2.3em;
    opacity: 0; } }
@-moz-keyframes next {
  0% {
    bottom: 2.3em;
    opacity: 0; }
  50% {
    bottom: 3.3em;
    opacity: 1; }
  100% {
    bottom: 2.3em;
    opacity: 0; } }
@keyframes next {
  0% {
    bottom: 2.3em;
    opacity: 0; }
  50% {
    bottom: 3.3em;
    opacity: 1; }
  100% {
    bottom: 2.3em;
    opacity: 0; } }
