{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}

{% for page in page_branch %}
{% if page.in_menu %}
<li>
    <a class="center-align collapsible-header
    {% if page.is_current_or_ascendant %} active white-text cyan {% else %}
    {% ifequal page.get_absolute_url request.path %} active white-text cyan {% else %}
    cyan-text text-darken-4 {% endifequal %} {% endif %}""
       {% if not page.has_children_in_menu %} href="{{ page.get_absolute_url }}" {% else %} active {% endif %}>
        {{ page.title }}
    </a>
    {% if page.has_children_in_menu %}
    <div class="collapsible-body">
        {% page_menu page %}
    </div>
    {% endif %}
</li>
{% endif %}
{% endfor %}

{% else %}
<div class="row">
    <div class="col s1">&nbsp;</div>
    <div class="col s10">
        <br>
        <ul class="card collection">
            {% for page in page_branch %}
            {% if page.in_menu %}
            <a class="collection-item cyan-text text-darken-4
            {% if page.is_current_or_ascendant %} grey lighten-2 {% else %}  {% endif %}"
               href="{{ page.get_absolute_url }}">
                {{ page.title }}
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col s1">&nbsp;</div>
</div>
{% endif %}

{% endif %}
{% endspaceless %}