{% extends "base.html" %}
{% load i18n mezzanine_tags other_ssc_tags jdate_tags %}

{% block meta_title %}{% trans 'staff' %}{% endblock %}
{% block title %}{% trans 'staff' %}{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li>{{ title }}</li>
{% endblock %}

{% block main_hack %}
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <div class="card-panel">
                {% nevercache %}
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}"
                                     data-alert="alert">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endnevercache %}

                <div class="row" dir="ltr">
                    <div class="col s12">
                        <div class="nav-container">
                            {% for team in team_path %}
                                <a class="nav-item" href="{% url 'staff_list' %}?team={{ team.id }}">{{ team.name }}</a>
                                {% if not forloop.last %} <span class="nav-arrow">&gt;</span> {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {% for staff_member in staff %}
                        {% if staff_member.image %}
                        <div class="col s3">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img src="{{ staff_member.image.url }}" class="activator"/>

                                    <div class="card-title activator">
                                        {{ staff_member.name }}
                                    </div>
                                </div>
                                <div class="card-data text-white">
                                    <div class="header">
                                        <div class="card-title">{{ staff_member.name }}</div>
                                    </div>
                                    <p>
{#                                        {% if staff_member.label %}<b>Role: </b>{{ staff_member.label }}<br>{% endif %}#}
                                        <b>Entrance Year: </b>{{ staff_member.entrance_year }}<br>
                                        <b>Bio: </b>{{ staff_member.bio }}<br>
                                        {% with teams=staff_member.teams.all %}
                                            {% if teams %}
                                                <b>Team(s): </b>
                                                {% for team in teams %}
                                                    <a href="{% url 'staff_list' %}?team={{ team.id }}">{{ team.name }}</a>
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <style>
        body .card .card-image .card-title {
            font-size: 0.9rem;
            opacity: 0.8;
            text-shadow: 1px 1px #000;
            padding: 0.6rem;
            width: 100%;
            text-align: center;
        }
        body .card:hover .card-image .card-title {
            display: none;
        }
        body .card .card-data {
            position: absolute;
            z-index: 800;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            display: none;
            padding: 0.5rem 1rem;
            color: black;
            font-size: 0.7rem;
        }
        body .card .card-data .card-title {
            font-size: 0.8rem;
            color: black;
        }
        body .card .card-data .bio {
            font-size: 0.6rem;
        }
        body .card:hover .card-data {
            display: block;
        }
        body .nav-item {
            font-size: 1rem;
        }
        body .nav-arrow {
            font-size: 1.6rem;
            font-weight: bold;
            margin: 5px;
        }
        body .nav-container {
            margin: 1rem 0;
        }
    </style>
{% endblock %}